<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <title>DMX and Dali demo</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.1/css/bootstrap-slider.css">
    <link rel="stylesheet" href="mycss.css">

  </head>

  <body>
 

    <div class="container" id="dmx">

      MQTT URL:  <input v-model="mqttURL">
      MQTT port: <input v-model="mqttPort">
      <button :disabled="mqttConnected" v-on:click="connectMQTT">Connect to MQTT server</button>
      <button :disabled="!mqttConnected" v-on:click="disconnectMQTT">Disconnect from MQTT server</button>

      <div v-if="mqttConnected">
        <h5 class=mqtt-connected>connected</h5>
      </div>
      <div v-else>
          <h5 class=mqtt-notconnected>disconnected</h5>
      </div>
      
      

      <h1>
        DMX
      </h1>

      <div class="row">
        <div class="col-md-4"><dmx-fixture name="fixture1"></dmx-fixture></div>
        <div class="col-md-4"><dmx-fixture name="fixture2"></dmx-fixture></div>
        <div class="col-md-4"></div>
      </div>

<!--
      <pre>
        {{ $data }}
      </pre>
-->

    </div>

    <template id="dmx-fixture-4channels">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{name}}
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <compact-picker v-model="colors" @change-color="onChange_colors"></compact-picker>
            </div>
          </div>

          <div class="row top-buffer">
            <div class="col-md-12">   
              <input type="range" min="0" max="100" data-show-value="true" v-model="dimming" @input="onChange_dimming">            
            </div>            
          </div>
        </div>

<!--
        <pre>
          {{ $data }}
        </pre>
-->
      </div>


    </template>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.1/bootstrap-slider.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="node_modules/vue-color/dist/vue-color.js"></script>
    <script src="Vuejs-bootstrap-slider/slider.js"></script>
    <script src="app.js"></script>
    
  </body>
</html>